---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Main Projects</div>
  </div>

  <HorizontalCard
    title="Upsilon GDPS"
    img="https://i.link1.pw/uploads/68cfc3ff43027_%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202025-06-14%20125548.png"
    desc="Experience Geometry Dash Private Server with user supports and more features!"
    url="https://nahhhh.ps.fhgdps.com"
    badge="OG"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Blog"
    img="https://i.link1.pw/uploads/68cfc46d00f9a_%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202025-09-21%20182445.png"
    desc="My blog is very cool and special, isn't it?"
    url="https://upsilony.github.io"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Upcoming Projects</div>
  </div>

  <HorizontalCard
    title="Upsilondows"
    img="https://i.link1.pw/uploads/68cfc552642db_%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202025-06-01%20183431.png"
    desc="Fan-made Windows, but not real OS and made by me!"
    url="https://castle.xyz/d/meZnRT-nXi"
    badge="OG"
  />
</BaseLayout>
