<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
  <!-- YouTube -->
  <a href="https://youtube.com/@Upsilony_" target="_blank" class="mx-3" aria-label="YouTube" title="YouTube">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="fill: currentColor;">
      <path d="M10 15l5-3-5-3v6z"/>
      <path fill="none" d="M0 0h24v24H0z"/>
    </svg>
  </a>

  <!-- GitHub -->
  <a href="https://github.com/Upsilony" target="_blank" class="mx-3" aria-label="GitHub" title="GitHub">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="fill: currentColor;">
      <path d="M12 .5C5.648.5.5 5.648.5 12c0 5.086 3.292 9.398 7.867 10.927.575.105.785-.25.785-.555 0-.275-.01-1.192-.015-2.165-3.2.695-3.88-1.544-3.88-1.544-.524-1.333-1.277-1.688-1.277-1.688-1.044-.715.079-.7.079-.7 1.155.082 1.763 1.187 1.763 1.187.978 1.675 2.565 1.19 3.19.91.1-.707.403-1.19.732-1.464-2.556-.292-5.242-1.28-5.242-5.694 0-1.258.438-2.284 1.155-3.089-.115-.288-.5-1.446.11-3.013 0 0 .943-.3 3.09 1.164a10.635 10.635 0 0 1 2.816-.386c.956 0 1.914.13 2.817.386 2.146-1.464 3.088-1.164 3.088-1.164.61 1.567.225 2.725.11 3.013.718.805 1.153 1.831 1.153 3.089 0 4.424-2.69 5.398-5.253 5.684.413.356.783 1.063.783 2.145 0 1.547-.014 2.797-.014 3.174 0 .31.206.667.79.554C20.712 21.395 24 17.086 24 12c0-6.352-5.148-11.5-12-11.5z"/>
    </svg>
  </a>

  <!-- Twitter -->
  <a href="https://x.com/Upsilony_" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="fill: currentColor;">
      <path d="M23 3a10.9 10.9 0 0 1-3.14.86 4.48 4.48 0 0 0 1.96-2.48 9.93 9.93 0 0 1-3.13 1.2 4.92 4.92 0 0 0-8.38 4.49A13.94 13.94 0 0 1 1.64 3.16a4.92 4.92 0 0 0 1.52 6.56 4.9 4.9 0 0 1-2.23-.62v.06a4.92 4.92 0 0 0 3.95 4.83 4.93 4.93 0 0 1-2.22.08 4.92 4.92 0 0 0 4.6 3.42A9.87 9.87 0 0 1 1 19.54 13.92 13.92 0 0 0 7.56 21c9.05 0 14-7.5 14-14v-.64A9.93 9.93 0 0 0 23 3z"/>
    </svg>
  </a>

  <!-- Discord -->
  <a href="https://discord.gg/YOUR_SERVER" target="_blank" class="mx-3" aria-label="Discord" title="Discord">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="fill: currentColor;">
      <path d="M20.317 4.369a19.791 19.791 0 0 0-4.885-1.515.07.07 0 0 0-.073.035c-.212.38-.452.877-.619 1.267-1.844-.276-3.68-.276-5.486 0-.168-.39-.406-.888-.619-1.267a.07.07 0 0 0-.073-.035 19.736 19.736 0 0 0-4.885 1.515C2.3 9.08 1.233 14.569 1.5 19.963a.09.09 0 0 0 .033.061 19.951 19.951 0 0 0 5.993 3.037.07.07 0 0 0 .077-.027c.462-.63.873-1.295 1.226-1.987a.07.07 0 0 0-.038-.096 13.71 13.71 0 0 1-1.95-.932.07.07 0 0 1-.007-.118c.131-.098.262-.197.391-.296a.07.07 0 0 1 .076-.01c4.07 1.855 8.484 1.855 12.506 0a.07.07 0 0 1 .078.009c.129.099.26.198.391.296a.07.07 0 0 1-.006.118c-.608.394-1.254.724-1.95.932a.07.07 0 0 0-.037.096c.36.693.77 1.356 1.226 1.987a.07.07 0 0 0 .077.027 19.946 19.946 0 0 0 5.993-3.037.09.09 0 0 0 .033-.061c.357-5.177-1.63-10.613-4.682-15.594zM8.02 15.331c-1.182 0-2.156-1.085-2.156-2.419 0-1.333.955-2.418 2.156-2.418 1.21 0 2.175 1.096 2.156 2.418 0 1.334-.955 2.419-2.156 2.419zm7.957 0c-1.182 0-2.156-1.085-2.156-2.419 0-1.333.955-2.418 2.156-2.418 1.21 0 2.175 1.096 2.156 2.418 0 1.334-.946 2.419-2.156 2.419z"/>
    </svg>
  </a>

  <!-- SoundCloud -->
  <a href="https://soundcloud.com/Upsilony" target="_blank" class="mx-3" aria-label="SoundCloud" title="SoundCloud">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" style="fill: currentColor;">
      <path d="M408 192c-5.1 0-10.1.3-15 .9-16.6-25.4-44.9-42.9-76-42.9-40.1 0-73 32.5-73 72.5v95c0 6.6 5.4 12 12 12h152c31.4 0 57-25.6 57-57s-25.6-57-57-57zM96 224c-13.3 0-24 10.7-24 24v64c0 13.3 10.7 24 24 24s24-10.7 24-24v-64c0-13.3-10.7-24-24-24zm32-16c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24s24-10.7 24-24v-96c0-13.3-10.7-24-24-24zm32-32c-13.3 0-24 10.7-24 24v128c0 13.3 10.7 24 24 24s24-10.7 24-24V176c0-13.3-10.7-24-24-24zm32-32c-13.3 0-24 10.7-24 24v160c0 13.3 10.7 24 24 24s24-10.7 24-24V144c0-13.3-10.7-24-24-24z"/>
    </svg>
  </a>
</div>
