<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <!-- YouTube -->
    <a
        href="https://youtube.com/@Upsilony_"
        target="_blank"
        class="mx-3"
        aria-label="YouTube"
        title="YouTube"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
        >
            <path d="M23.498 6.186a2.97 2.97 0 0 0-2.09-2.103C19.505 3.5 12 3.5 12 3.5s-7.505 0-9.408.583a2.97 2.97 0 0 0-2.09 2.103A31.4 31.4 0 0 0 .5 12a31.4 31.4 0 0 0 .002 5.814 2.97 2.97 0 0 0 2.09 2.103C4.495 20.5 12 20.5 12 20.5s7.505 0 9.408-.583a2.97 2.97 0 0 0 2.09-2.103A31.4 31.4 0 0 0 23.5 12a31.4 31.4 0 0 0-.002-5.814zM9.75 15.02V8.98L15.5 12l-5.75 3.02z"/>
        </svg>
    </a>

    <!-- Github -->
    <a href="https://github.com/Upsilony" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            />
        </svg>
    </a>

    <!-- Twitter -->
    <a href="https://x.com/Upsilony_" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
        >
            <path
                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
            />
        </svg>
    </a>

 <!-- Discord -->
<a href="https://dsc.gg/upsilongdps" target="_blank" class="mx-3" aria-label="Discord" title="Discord">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 71 55" fill="currentColor">
    <path d="M60.104 4.897A58.88 58.88 0 0046.852 0a41.025 41.025 0 00-1.988 4.073 55.904 55.904 0 00-16.727 0A41.025 41.025 0 0026.149 0 58.88 58.88 0 0012.896 4.897C4.852 17.24 2.371 29.26 3.113 41.137a59.454 59.454 0 0016.997 8.513A43.854 43.854 0 0023.89 45.5a35.94 35.94 0 01-5.669-2.773c.477-.35.944-.71 1.399-1.082a39.365 39.365 0 0036.76 0c.455.372.922.732 1.399 1.082a35.94 35.94 0 01-5.669 2.773c.735 1.473 1.548 2.914 2.442 4.15a59.454 59.454 0 0016.997-8.513c.89-13.748-2.17-25.674-9.045-36.14zM24.5 37.5c-3.106 0-5.625-2.84-5.625-6.333 0-3.493 2.519-6.333 5.625-6.333s5.625 2.84 5.625 6.333c0 3.493-2.519 6.333-5.625 6.333zm22 0c-3.106 0-5.625-2.84-5.625-6.333 0-3.493 2.519-6.333 5.625-6.333s5.625 2.84 5.625 6.333c0 3.493-2.519 6.333-5.625 6.333z"/>
  </svg>
</a>

<!-- SoundCloud -->
<a href="https://soundcloud.com/odds6n7lvi65" target="_blank" class="mx-3" aria-label="SoundCloud" title="SoundCloud">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" fill="currentColor">
    <path d="M145.1 37.3c-27.3 0-49.4 22.2-49.4 49.6v71.7H196c17.7 0 32.1-14.4 32.1-32.1 0-16.5-12.6-30.1-28.6-31.9-3.2-29.2-27.9-52.3-57.4-52.3zM29.5 129.2c-2.7 0-4.9 2.2-4.9 5v21.6c0 2.7 2.2 5 4.9 5 2.7 0 4.9-2.2 4.9-5v-21.6c0-2.7-2.2-5-4.9-5zm17.7-7.6c-2.7 0-4.9 2.2-4.9 5v29.2c0 2.7 2.2 5 4.9 5 2.7 0 4.9-2.2 4.9-5v-29.2c0-2.7-2.2-5-4.9-5zm17.7-7.7c-2.7 0-4.9 2.2-4.9 5v36.9c0 2.7 2.2 5 4.9 5 2.7 0 4.9-2.2 4.9-5v-36.9c0-2.7-2.2-5-4.9-5z"/>
  </svg>
</a>

</div>
